body {
  background: #C44593;
  background: radial-gradient(circle, rgba(223,188,255,1) 8%, rgba(255,245,245,1) 100%);
}

.tofu {
	text-align: center;
	font-family: 'Kalam', cursive;
	
}

h1 {
  line-height: 1em;
  font-size: 50px;
  color:  #C44593;
  /* cursor: pointer; */
  user-select: none;
}

h2 {
	line-height: 1em;
	font-size: 1em;
}

a {
	color: black;
}

img {
    width: 24%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
  position: relative;
}

.backdrop {
  width: 99.5%;
  height: 220px;
  cursor: pointer;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 8px;
}

.container:hover {
	opacity:0.8;

}

.container:active {
	opacity:0.5;
}

.text-overlay {
  position: absolute;
  /* bottom: 12px; */
  left: 5px;
  color: white;
  font-size: 2em;	
  font-weight: 600;
  background: #A354BBAA;
  z-index: 100;
  user-select: none;
}

.text-overlay-patreon {
  position: absolute;
  /* bottom: 12px; */
  left: 5px;
  color: white;
  font-size: 2em;	
  font-weight: 600;
  background: #A354BBAA;
  /* z-index: 100; */
  user-select: none;
}

.patreon {
  position:absolute;
  width: 20%;
  height: 50px;
  cursor: pointer;
  z-index: 100;
}



@media (max-width: 800px){
 img {
    width: 48%;
}
 
}